<section class="containerFull">
  <div class="content">
    <h1>Formulario de Editar de Productos</h1>
    <form [formGroup]="productsForm" (ngSubmit)="onSubmit()">
        <div class="form-input">
            <label for="uuid">ID</label>
            <input type="text" formControlName="uuid" placeholder="ID" />
            @if (productsForm.get('uuid')?.invalid && productsForm.get('uuid')?.touched) {
              <div class="error-message">
                @if (productsForm.get('uuid')?.errors?.['required']) {
                  <small>⚠️ El nombre es obligatorio.</small>
                }
                @if (productsForm.get('uuid')?.errors?.['minlength']) {
                  <small class="text-error">⚠️ Debe tener al menos 3 caracteres.</small>
                }

                @if (productsForm.get('uuid')?.errors?.['maxlength']) {
                  <small class="text-error">⚠️ No puede superar los 10 caracteres.</small>
                }
              </div>
            }
        </div>
        <div class="form-input">
            <label for="name">Nombre completo</label>
            <input type="text" formControlName="name" placeholder="Nombre completo" />
            @if (productsForm.get('name')?.invalid && productsForm.get('name')?.touched) {
              <div class="error-message">
                @if (productsForm.get('name')?.errors?.['required']) {
                  <small>⚠️ El nombre es obligatorio.</small>
                }
                @if (productsForm.get('name')?.errors?.['minlength']) {
                  <small class="text-error">⚠️ Debe tener al menos 5 caracteres.</small>
                }

                @if (productsForm.get('name')?.errors?.['maxlength']) {
                  <small class="text-error">⚠️ No puede superar los 100 caracteres.</small>
                }
              </div>
            }
        </div>
        <div class="form-input">
            <label for="description">Descripción</label>
            <input type="text" formControlName="description" placeholder="Descripción" />
            @if (productsForm.get('description')?.invalid && productsForm.get('description')?.touched) {
              <div class="error-message">
                @if (productsForm.get('description')?.errors?.['required']) {
                  <small>La descripción es obligatorio.</small>
                }
                @if (productsForm.get('name')?.errors?.['minlength']) {
                  <small class="text-error">⚠️ Debe tener al menos 10 caracteres.</small>
                }

                @if (productsForm.get('name')?.errors?.['maxlength']) {
                  <small class="text-error">⚠️ No puede superar los 200 caracteres.</small>
                }
              </div>
            }
        </div>
        <div class="form-input">
            <label for="logo">Url del logo</label>
            <input type="text" formControlName="logo" placeholder="Logo" />
        </div>
        <div class="form-input">
            <label for="date_release">Fecha de lanzamiento</label>
            <input type="date" formControlName="date_release" placeholder="Fecha de lanzamiento" (change)="onDateChange($event, 0)"/>
            @if (productsForm.get('date_release')?.invalid && productsForm.get('date_release')?.touched) {
              <div class="error-message">
                @if (productsForm.get('date_release')?.errors?.['required']) {
                  <small>La fecha es obligatoria.</small>
                }
              </div>
            }
        </div>
        <div class="form-input">
            <label for="date_revision">Fecha de revisión</label>
            <input type="date" formControlName="date_revision" placeholder="Fecha de revisión" (change)="onDateChange($event, 1)"/>
            @if (productsForm.get('date_revision')?.invalid && productsForm.get('date_revision')?.touched) {
              <div class="error-message">
                @if (productsForm.get('date_revision')?.errors?.['required']) {
                  <small>⚠️ La fecha es obligatoria.</small>
                }
              </div>
            }
        </div>

        <button type="button" (click)="reset()" class="buttonReset">Regresar</button>
        <button type="submit" [disabled]="!isFormValid()" class="buttonSave">{{loadingValid() ? 'Guardando...' : 'Guardar'}}</button>
    </form>
  </div>
</section>
