.containerFull{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f6f9;
  position: fixed;
  width: 100%;
  height: 100%;
}
.containerFull .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  gap: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 80%;
}
.containerFull .content .mat-mdc-table {
  min-width: 100%;
  width: 100%;
}
.containerFull .content h1{
  text-align: center;
  font-size: 2rem;
  color: #333;
  width: 100%;
  margin: 20px;
}
.containerFull .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.containerFull .content  .applyFilter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.containerFull .content  .form-input{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.containerFull .content  .form-input input{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}
.containerFull .content  .buttomList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  gap: 10px;
}
.containerFull .content   .buttonSave{
  background-color: #fdf1a4;
  color: #a1a8bc;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  height: 50px;
}
.containerFull .content   .buttonSave:hover{
  background-color: #0056b3;
}
.containerFull .content .action{
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 14px;
}
.containerFull .content .action .buttonEdit{
  background-color: #fdf1a4;
  color: #152559;
  padding: 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50px;
  height: 25px;
}
.containerFull .content .action  .buttonEdit:hover{
  background-color: #fddc02;
}
.containerFull .content .action .buttonDelete{
  background-color: #eb8989cd;
  color: #152559;
  padding: 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 70px;
  height: 25px;
}
.containerFull .content .action  .buttonDelete:hover{
  background-color: #fd0202;
}
.containerFull .content  .buttonSave[disabled]{
  background-color: #fdf1a4;
  cursor: not-allowed;
  color: #a1a8bc;
}
.containerFull .content   .buttonReset{
  background-color: #ccc;
  color: #152559;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
}
.containerFull .content   .buttonReset:hover{
  background-color: #b0a8a8;
}
.containerFull .content   .error-message{
  color: #ff0000;
  font-size: 0.875rem;
  margin-top: 5px;
}
/* Estilo para el input cuando es inválido y ha sido tocado */
input.ng-invalid.ng-touched {
  border: 2px solid #ff0000 !important; /* Rojo */
  outline: none; /* Opcional: quita el borde azul por defecto */
}

/* Opcional: añadir un borde verde si es válido y tiene contenido */
input.ng-valid.ng-touched {
  border: 2px solid #28a745 !important; /* Verde */
}
mat--field{
  width: 100%;
}
